.jumbotron {
text-align: center;}

body {
background: url("/images/background2.jpg")
}

ul {
background-color: lightgrey;}

.about {
color: black;}

p {
color: white;}

h1 {
color: white;}

h2 {
color: white;}

h3 {
color: white;}

h4 {
color: white;}

h5 {
color: white;}

.form-group {
color: white;}

a {
color: red;}