.jumbotron {
text-align: center;}

body {
background: url("/images/background2.jpg")
}

ul {
background-color: lightgrey;}

.about {
color: black;}

p {
color: black;}

h1 {
color: black;}

h2 {
color: black;}

h3 {
color: black;}

h4 {
color: black;}

h5 {
color: black;}

.form-group {
color: black;}

a {
color: red;}

label {
color: black;}