{{#partial "title"}}
    "HackAThon Teams"
{{/partial}}
{{#partial "content"}}
    {{#if teams}}
        {{#each teams}}
            <div class = well>
            <h2>Team Name: {{ newTeam.teamName }}:</h2>
            <p>Team Description: {{ newTeam.teamDescription }}</p>
        {{/each}}
    {{else}}
    <p>No teams available</p>
    {{/if}}
    <a href="/">Go back</a>
{{/partial}}

{{> layout.hbs}}