{{#partial "title"}}
    Create a new member
{{/partial}}
{{#partial "content"}}

    <h2>Add a new member</h2>
    <form action='/teams/new/newMember/next' method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" class="form-control" type="text">
        </div>
        <button type="submit" class="btn">Add Member!</button>
    </form>
    {{#if allMembers}}
        <form action="/teams/details/finish" method="get">
            <button type="submit" class="btn">Finish adding members</button>
        </form>
    {{/if}}
{{/partial}}

{{> layout.hbs}}