{{#partial "content"}}
    <div class = "jumbotron">
    <h1>Anduin's HackAThon</h1>
    </div>
    <div class = "well">
    <h3 class = "about">What is a HackAThon?</h3>
    <h4 class = "about">A hackathon is a design sprint-like event in which computer programmers and others involved in software development, including graphic designers, interface designers, project managers, and others, often including subject-matter-experts, collaborate intensively on software projects.</h4>
    <h3 class = "about">What are teams competing to hack today?</h3>
    <h4 class = "about">The goal is for teams to shut down local hospitals for as long as they can! Don't worry , we swear this is humane.</h4>
    </div>

{{/partial}}

{{> layout.hbs}}