<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Anduin's Hackathon 2018{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/teams">See All Teams</a></li>
    <li role="presentation"><a href="/newTeam">Add a New Team</a></li>
</ul>
<div class="container">
    <!--begin main template-->

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
    </footer>
    </body>
    </html>
{{/block}}