{{#partial "content"}}
    <div class = "well">
    <h3>New member:</h3>
    <form action="/teams/{{team.id}}/newMember" method="post">
        <label>Name: </label>
        <input name="memberName">

        <button type="submit">add</button>
    </form>
    </div>
{{/partial}}
{{>layout.hbs}}